             <!--Logo and Company Name, Slogan-->
             <div class="container" style="text-align: center;">
                    <img class="high-heel" src="images/shoes/High-HellLogo.png">
                    <h1 class="heading-spacing">Shoes On</h1>
                    <span>Designs</span>
            
                </div>

                
        <div class="container-fluid nav-head">
                <nav class="navbar navbar-expand-lg">
                    
    
                      <button class="navbar-toggler navbar-light ml-auto" type="button"
                                    data-toggle="collapse" data-target="#navMenu" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                    </button>
                    </nav>
            
    
            <div class="container menu">
                    <nav class="navbar navbar-expand-lg">
                            <div class="navbar-collapse collapse justify-content-between align-items-center w-100 link-font"
                                     id="navMenu">
                                    <ul class="navbar-nav mx-auto text-center">
                                            <li class="nav-item active">
                                                    <a class="nav-link" href="/">Home</a>
                                            </li>
                                            <li class="nav-item">
                                                    <a class="nav-link" href="#about">About</a>
                                            </li>                                        
                                        

                                            <li class="nav-item">
                                                <a class="nav-link" href="/login">Login</a>
                                        </li> 

                                        <li class="nav-item">
                                                <a class="nav-link" href="/user/register">Register</a>
                                        </li> 

                                        <li class="nav-item">
                                                <a class="nav-link" href="/user/logout">Logout</a>
                                        </li> 
    
                                    </ul>
    
                            </div>
                    </nav>
                </div>
            </div>



<form class="" action="/admin" method="POST">
<div class="container-fluid margin-top-4">

    <div class="row">
        <div class="col-6">
                <h2 class="text-center">Add Stock</h2>       
            <input type="text" name="brands" value="{{brand}}" id="exampleForm2" class="form-control"  placeholder="Brand">

         
            <input type="text" name="color" value="{{color}}" id="exampleForm2" class="form-control"  placeholder="Color">

            <input type="text" name="size" value="{{size}}" min="0" max="20" id="exampleForm2" class="form-control"  placeholder="size">

         
            <input type="number" name="price" value="{{size}}" step="1" min="0"  id="exampleForm2" class="form-control"  placeholder="price">

            <input type="number"  name="qty" step="1" min="0"  id="exampleForm2" class="form-control"  placeholder="qty">


            <input type="text"  name="imageURL"  id="exampleForm2" class="form-control"  placeholder="url">

            <div class="text-center mt-4 mb-2">
                <button class="btn btn-info">Add Stock
                    <i class="fa fa-send ml-2"></i>
                </button>

                 <a href="/delete/stock" class="btn btn-info crud" style="color: white;">Delete All Shoes</a>
            </div>


            <div class="container-fluid text-center margin-top-6">
                    <div class="row">
                            <div class="col-12">
                                    <h2>IMAGE URLS TO TEST</h2>
                                    <ul style="list-style: none;">
                                            <li><span class="urls">Brown Puma: </span>images/shoes/resizedShoes/BrownPuma.jpg</li>
                                            <li><span class="urls">Black Adiddas: </span>images/shoes/resizedShoes/BlackAdiddas.jpg</li>
                                            <li><span class="urls">BlackNike: </span>images/shoes/resizedShoes/BlackNike.jpg</li>
                                            <li><span class="urls">BlackNike2: </span>images/shoes/resizedShoes/BlackNike2.jpg</li>
                                            <li><span class="urls">Blue Jordan: </span>images/shoes/resizedShoes/BlueJordan.jpg</li>                                        
                                           <li><span class="urls">Brown Puma2: </span>images/shoes/resizedShoes/BrownPuma2.jpg</li> 
                                           <li><span class="urls">Gold Nike: </span>images/shoes/resizedShoes/GoldNike.jpg</li> 
                                           <li><span class="urls">White Adiddas: </span>images/shoes/resizedShoes/WhiteAdiddas.jpg</li> 
                                           <li><span class="urls">White Nike: </span>images/shoes/resizedShoes/WhiteNike.jpg</li> 
                                           <li><span class="urls">White Nike2: </span>images/shoes/resizedShoes/WhiteNike2.jpg</li> 
                                    </ul>
                            </div>
                    </div>
            </div>

            





   

            
        </div>
 


</form>



        <div class="col-6">
                   <div class="container">
                <div class="row">
<div class="table-responsive">

  <!--Table-->
  <table class="table">

    <!--Table head-->
    <thead>
      <tr>
        <th>Product ID</th>
        <th class="th-sm">Brand</th>
        <th class="th-sm">Color</th>
        <th class="th-sm">Size</th>
        <th class="th-sm">Monthly Stock</th>
        <th class="th-sm">Price</th>
        <th class="th-sm"></th>
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
           {{#each data}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{brand}}</td>
        <td>{{color}}</td>
        <td>{{size}}</td>
        <td>{{monthlystock}}</td>
        <td>{{price}}</td>
        <td><img src="{{imgurl}}" class="img-fluid shoe_img"></td>
        <td><a href="/update/stock/{{id}}" class="btn btn-info" data-toggle="modal" data-target="#updateShoeModal">Update Shoe</a></td>
        <td><a href="/delete/stock/{{id}}" class="btn btn-info">Delete Shoe</a></td>
       
      </tr>
          
           {{/each}}
   
    </tbody>
  

  </table>


</div>

 </div>

        </div>
        </div>

        </div>
        </div>


            
            

<!-- Modal -->
<div class="modal fade" id="updateShoeModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModal">Modal title</h5>
       
      </div>
      <div class="modal-body">
           
              
        <form action="/update/shoes/{{id}}" method="POST">

     
  


         <input type="text" name="brand_id" value="{{data.brand_id}}" id="exampleForm2" class="form-control"  placeholder="Brand">
         <input type="text" name="color_id" value="{{color}}" id="exampleForm2" class="form-control"  placeholder="Color">
         <input type="text" name="size_id" value="{{size}}" min="0" max="20" id="exampleForm2" class="form-control"  placeholder="size">
         <input type="number" name="priceUpdate" value="{{price}}" step="1" min="0"  id="exampleForm2" class="form-control"  placeholder="price">
         <input type="number"  name="qtyUpdate" value="{{monthlystock}}" step="1" min="0"  id="exampleForm2" class="form-control"  placeholder="qty">
        <input type="text"  name="imageURLUpdate" value="{{imgurl}}" id="exampleForm2" class="form-control"  placeholder="url">

        
        
      <button type="submit" class="btn btn-primary">Update</button>


   </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>